<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Watch party</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="{{ url_for('static', filename='search.js') }}"></script>
        <meta charset="UTF-8">
    </head>
    <body>
        <div class="bg-image"></div>
        <header>
            <input class="col-6" type="text" name="search" id="search" placeholder="Pesquise por uma obra">
        </header>
        <main>
        </main>
    </body>
</html>
