<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Watch Party - {{ filme }}</title>
        <!-- <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}"> -->
        <link rel="stylesheet" href="{{ url_for('static', filename = 'chat.css') }}">
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="{{ url_for('static', filename = 'chat.js') }}"></script>
        <meta charset="UTF-8">
    </head>
    <body>
        <main>
            <video id="video" controls></video>
            <div class="grid">
                <button id="voltar">Voltar</button>
                <button id="menu">Menu</button>
                <div class="chat">
                    <div class="lista-mensagens">
                    </div>
                    <div class="input-box">
                        <textarea name="input"></textarea>
                        <button id="submit" class="submit">Enviar</button>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>